@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
h1 {
    font-weight: 400;
}

#user-form {
    width: 70%;
    line-height: 10px;
    text-align: center;
    position:absolute;
    top: 150px;
}
#user-input {
    display: block;
    padding: 10px 5px;
    width: 100%;
    font-size: 18px
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    width: 80px;
    color: white;
    padding: 7px;
    border: 0px;
    border: none;
}
.btn-primary {
    background-color: rgb(103, 59, 204);
}
.btn-danger {
    background-color: rgb(207, 15, 15);
}
.flex {
    display: flex;
    justify-content: space-between;
}
.flex-child {
    margin: 5px;
}
.to-do-list {
    width: 70%;
    margin: 0 auto;
}
.add-to-do-marker {    
    position: fixed;
    bottom: 20px;
    right: 10px;
    font-size: 35px;
    color: rgb(103, 59, 204);
    border: 3px solid rgb(103, 59, 204);
    border-radius: 18px;
}
.hide {
    display: none;
}
.text-center {
    text-align: center;
}
.flex-align-baseline {
    align-items: baseline;
}
.task-complete {
    text-decoration: line-through;
    color: silver;
}