@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');
/* ||Global */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
h1 {
    font-weight: 400;
    text-decoration: underline;
}

/* ||ID */
#user-form {
    min-width: 70%;
    line-height: 10px;
    text-align: center;
    background-color: white;
    position:absolute;
    top: 150px;
}

/* ||Classes */
.global-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.aside {
    flex: 1 0 auto;
    border-right: 2px solid black;
    height: 100vh;
}
.main {
    flex: 4 0 auto;
}
.user-input,
.description {
    display: block;
    padding: 10px 5px;
    width: 100%;
    font-size: 18px;
}
.description {
    margin: 15px 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.flex-child {
    margin: 5px;
}
.flex-grow {
    flex: 1 0 auto;
}
.to-do-list {
    width: 70%;
    margin: 0 auto;
}
.btn {
    width: 80px;
    color: white;
    padding: 7px;
    border: none;
}
.btn-primary {
    background-color: rgb(103, 59, 204);
}
.btn-danger {
    background-color: rgb(207, 15, 15);
}
.add-to-do-marker {    
    position: fixed;
    bottom: 40px;
    right: 10px;
    font-size: 25px;
    color: white;
    background-color: rgb(103, 59, 204);
    padding: 7px 10px;
    border-radius: 3px;
}
.add-to-do-marker:active {
    font-size: 23px;
}
.hide {
    display: none;
}
.text-center {
    text-align: center;
}
.flex-align-baseline {
    align-items: baseline;
}
.task-complete {
    text-decoration: line-through;
    color: silver;
}
.text-light {
    color: silver;
}
.border {
    border: 1px solid silver;
}
/* .angle-down-icon {
    margin-left: 30px;
} */

/* ||Media Queries */

@media screen and (max-width: 1000px) {
    .user-title,
    .user-description {
        display: none;
    }
    .aside {
        display: none;
    }
}
